* {
    box-sizing: border-box;
}

/* tags */

input {
    border-radius: 10px;
    width: 350px;
    text-align: center;
    display: block;
    margin: auto;
}

body {
    background-image: url("../images/bg_0.jpg");
    width: 100%;
    height: 100%;
    padding-top: 30px;
}

ul {
    list-style-type: circle;
}

h1 {
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
    font-weight:600;
    margin-bottom: 20px !important;
    line-height: 30px;
}
/* classes */

.header {
    width: 80%;
    height: 130px;
    padding: 20px;
    margin: auto;
    max-width: 700px;
}

.logo {
    display: block;
    width: 310px;
    float: left;
}

.inputs {
    display: block;
    margin: 30px auto 20px auto;
}

.content {
    min-width: 100%;
    height: auto;
    box-shadow: 0 0 15px 1px gray;
    margin-bottom: 40px;
}

.page {
    display: block;
    min-height: 500px;
    max-width: 700px;
    margin: auto;
}

.warm-cold {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.15em;
    font-weight: 600;
}

.warm-cold > div {
    padding: 4px;
}

.content-inner {
    width: 100%;
    height: 100%;
    background-color: rgba(147, 171, 175, .9);
}

.play-button {
    font-family: 'Cardo', serif;
    height: 30px;
    width: 125px;
    border-radius: 20px;
    border: black 2px double;
    padding: 6px;
    margin: 20px auto;
    font-weight: 900;
    background-color: rgba(216, 181, 146, .8);
    display: block;
    text-align: center;
    cursor: pointer;
}

.user-name {
    text-transform: capitalize;
    color: darkred;
}

/* --- card --- */
.card-output {
    clear: both;
    overflow: auto;
    display: flex; 
    justify-content: space-evenly;
    padding: 20px;
    box-shadow: inset 0 0 5px black;
    background-image: linear-gradient(to right, #71a6af, #f0a093);
}

.card {
    width: 125px;
    height: 200px;
    padding: 10px;
    float: left;
    font-size: 14px;
    line-height: 1.2em;
    box-shadow: 0 0 3px black;
    margin: 0 8px 0 8px;
    background-color: #bbb;
    cursor: grab;
}

.card:active {
    cursor: grabbing;
}

.card-image {
    width: 100%;
    height: 57px;
    border: 1px solid black;
    object-fit: fill;
}

.card-image > img {
    width: 100%;
    height: 100%;
}

.card-data {
    width: 100%;
    min-height: 30px;
    margin: 10px 0 10px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.card-button {
    font-family: 'Cardo', serif;
    text-align: center;
    padding: 2px;
    margin: 5px;
    background-color: #888;
    color: white;
    text-shadow: 0 0 2px black;
    border-radius: 4px;
    box-shadow: 0 0 3px black;
    cursor: pointer;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.mk-block {
    display: block;
    width: 100%;
    float: left;
}

.city {
    text-align: center;
    font-weight: 800;
    font-size: 15;
}

.country {
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 12;
}
/* card end */


.play-button:hover {
    background-color: rgba(218, 168, 118, 0.8);
}

.game-info {
    line-height: 1.5em;
    letter-spacing: 0.05em;
}

.gi-span {
    font-size: 18px;
    display: block;
    width: 90%;
    margin: auto;
    font-weight: 600;
}

.ul-div {
    font-size: 18px;
    width: 80%;
    margin: auto;
    padding: 20px;
}

.username-input {
    display: block;
    margin: auto;
}

.game-info, .username-input {
    font-family: 'Open Sans', sans-serif;
}


/* MODAL SECTION */
.bg-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
}

.modal-content {
    font-family: 'Open Sans', sans-serif; 
    font-size: 20px;
    width: 500px;
    height: 300px;
    background-color: #f0c3bc;
    border: 3px solid black;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
}

.modal-heading {
    font-family: 'Cardo', serif;
    font-size: 35px;
    font-weight: bold;
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

#imageModal {
    width: 100%;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#modalCityInfo {
    margin-top: 5px;
}

.city-name {
    font-size: 1.2em;
    font-weight: bold !important;
    margin-top: 6px;
    margin-bottom: 5px;
}

.city-details {
    line-height: 1.2em;
}

.btn {
    font-family:'Open Sans', sans-serif; 
    font-size: 20px;
    font-weight: bold;
    margin-top: 70px;
    background: #444;
    color: white;
    border-radius: 30px;
}

.btn:hover {
    color:#f0c3bc;
}

/* 420px */
@media (max-width: 420px) {
   
    .game-info {
        width: 100%;
        font-size: 19px;
    }
    input {
        width: 80%;
    }
    .logo {
        width: 80%;
    }
    .tempicLogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
}




/* IDs */

/* Font family to use
font-family: 'Cardo', serif;
font-family: 'Open Sans', sans-serif; */